<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
    <div class="row extended">
        <div class="large-12 columns">
            <div class="top-bar">
              <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                  <li class="menu-text">Site Title</li>
                  <li>
                    <a href="#">One</a>
                    <ul class="menu vertical">
                      <li><a href="#">One</a></li>
                      <li><a href="#">Two</a></li>
                      <li><a href="#">Three</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Two</a></li>
                  <li><a href="#">Three</a></li>
                </ul>
              </div>
              <div class="top-bar-right">
                <ul class="menu">
                  <li><input type="search" placeholder="Search"></li>
                  <li><button type="button" class="button">Search</button></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        eat it
        {% endblock %}
    </div>
    <script src="/assets/js/app.js"></script>
</body>
</html>
